$xxs: new-breakpoint(max-width 320px 1) 
$xs: new-breakpoint(min-width 320px 2) 
$small: new-breakpoint(min-width 480px 4)
$med: new-breakpoint(min-width 600px 4)
$medlarge: new-breakpoint(min-width 768px 4)
$large: new-breakpoint(min-width 1024px 12) 
$xlarge: new-breakpoint(min-width 1200px 12)
$iphone5: new-breakpoint(min-width 320 max-width 640)
