$xs: new-breakpoint(min-width 320px)
$small :new-breakpoint(max-width 480px 4)
$med :new-breakpoint(max-width 600px 4)
$medlarge :new-breakpoint(max-width 768px 4)
$large :new-breakpoint(max-width 1024px 4) 
$xlarge :new-breakpoint(max-width 1200px 4)

