#podcast_container 
  +outer-container

#podcast_container li
  list-style-type: none

.iframe_transparent_container
  background: rgba(white, .978)

iframe
  margin-top: 13px
  margin-bottom: 40px

.episode_title
  +clearfix
  font-family: GothamNarrowBook, $helvetica 
  font-size: 29px
  line-height: 1.3em
  padding-top: 38px

.episode_title a
  +span-columns(9.6)
  +transition(all 0.1s ease-in-out-back)
  &:hover
    color: lighten($dark_grey, 40%)

.episode_sub_title
  @extend %SansSerif_GothamRoundbook_Helvetica
  margin-top: 7px
  font-size: 18px
  color: lighten($dark_grey, 40%)

.episode_sub_title span
  font-size: 18px
