#podcast_container 
  +outer-container

#podcast_container li
  list-style-type: none

.iframe_transparent_container
  background: rgba(white, .986)

iframe
  margin-top: 0.65rem
  //13px
  margin-bottom: 2.4rem
  //48px

iframe, .episode_title, .episode_sub_title
  +media($xs)
    +span-columns(1.78)
    +shift(0.11)
  +media($large)
    +span-columns(10)
    +shift(1)
  +media($xlarge)
    +span-columns(9)
    +shift(1.5)

.episode_title
  +clearfix
  text-rendering: optimizeLegibility
  padding-top: 2.25rem
  //45px
  a
    +transition(all 0.1s ease-in-out-back)
    &:hover
      color: lighten($dark_grey, 40%)
  +media($xs)
    font-family: $helvetica 
    font-size: 1.3rem 
    line-height: 1.5rem
    font-weight: 400
  +media($small)
    font-weight: 500
  +media($large)
    font-family: GothamNarrowBook, $helvetica 
    font-size: 1.5rem 
    //30px
    line-height: 1.885rem
  //1.3em

.episode_sub_title, .episode_sub_title span
  color: lighten($dark_grey, 40%)
  //7px
  +media($xs)
    font-family: $helvetica
    line-height: 1.2rem
    font-size: 0.92rem
    font-weight: normal
    margin-top: 0.45rem
  +media($large)
    margin-top: 0.35rem
    font-family: GothamRoundBook, $helvetica
    font-size: 0.9rem
    //18px
