#podcast_container 
  +outer-container

#podcast_container li
  list-style-type: none

.iframe_transparent_container
  background: rgba(white, .986)

iframe
  margin:
    top: 0.65rem
    bottom: 2.4rem

iframe, .episode_title, .episode_sub_title
  +media($xs)
    +span-columns(1.78)
    +shift(0.11)
  +media($large)
    +span-columns(10)
    +shift(1)
  +media($xlarge)
    +span-columns(9)
    +shift(1.5)

.episode_title a
  +transition(all 0.1s ease-in-out-back)
  &:hover
    color: lighten($dark_grey, 40%)

.episode_title
  +clearfix
  text-rendering: optimizeLegibility
  padding-top: 2.25rem
  line-height: 1.7rem
  letter-spacing: 0.01rem
  font:
    family: $helvetica 
    weight: 300
    size: 1.9rem 
  +media($med)
    line-height: 1.9rem
    font-size: 1.9rem
  +media($large)
    font:
      family: GothamNarrowBook, $helvetica 
      size: 1.5rem 
      weight: 100

.episode_sub_title, .episode_sub_title span
  line-height: 1.2rem
  margin:
    top: 0.55rem
    bottom: 0.55rem
  font:
    family: $helvetica
    size: 1rem
    weight: 100
  +media(min-width 550px)
    font-size: 0.6rem
  +media($med)
    margin:
      top: 0.5rem
      bottom: 0.5rem
  +media($large)
    margin-top: 0.25rem
    margin-bottom: 0rem
    font-size: 0.9rem

.episode_sub_title
  color: lighten($dark_grey, 40%)
  +media($large)
    font-family: GothamRoundBook, $helvetica

.episode_sub_title span
  color: $red
  font:
    weight: 300
    style: italic
  +media($large)
    font:
      family: GothamRoundBookItalic, $helvetica
      style: normal
