.faq, #faq_background p
  +span-columns(7)
  +shift(2.5)

#faq_background
  background: rgba(white, 1)
  padding-top: 2.5rem
  //50px

.faq
  @extend %SansSerif_GothamRoundbook_Helvetica
  font-size: 1.4rem
  //28px
  line-height: 1.82rem
  //1.3em
  margin-bottom: .1rem
  //2px

#faq_background p
  @extend %Serif_Text_Type_Georgia
  font-size: 1.2rem
  //24px
  line-height: 1.56rem
  //1.3em
  color: lighten($dark_grey, 26%) 
  margin-bottom: 2.75rem
  //55px

#faq_background a
  text-decoration: none
  @extend %SansSerif_GothamRoundbook_Helvetica
  font-size: 1.05rem
  //21px
  color: $red
  &:hover
    border-bottom: 1px solid $red
