.faq, #faq_background p
  +media($xs)
    +span-columns(1.8)
    +shift(0.1)
  +media($small)
    +span-columns(3.4)
    +shift(0.3)
  +media($med)
    +span-columns(3)
    +shift(0.5)
  +media($large)
    +span-columns(8)
    +shift(2)
  +media($xlarge)
    +span-columns(7.4)
    +shift(2.3)

#faq_background
  background: rgba(white, 1)
  padding-top: 2.95rem

.faq
  font:
    family: $helvetica
    weight: 500
  color: darken($dark_grey, 5%) 
  line-height: 1.9rem
  margin-bottom: 0.5rem
  +media($xs)
    font-size: 1.6rem
  +media($small)
    font-size: 1.7rem
  +media($med)
    font-size: 1.85rem
  +media($medlarge)
    line-height: 2.3rem
    font:
      weight: 600
      size: 2rem
      family: GothamRoundBook, $helvetica
    margin-bottom: 0.1rem
  +media($large)
    line-height: 1.8rem
    font-size: 1.4rem

#faq_background p
  line-height: 1.75rem
  letter-spacing: 0.02rem
  word-spacing: 0.04rem
  font:
    family: $georgia
    weight: normal
  color: lighten($dark_grey, 26%) 
  +media($xxs)
    font-size: 1.2rem
  +media($xs)
    margin-bottom: 1.9rem
  +media($med)
    font-size: 1.4rem
  +media($medlarge)
    font:
      family: CallunaRegular, $georgia
      size: 1.6rem
    margin-bottom: 2.5rem
  +media($large)
    font-size: 1.2rem

#faq_background a
  color: $red
  text-decoration: none
  font:
    family: $georgia
    size: 1.05rem
  +media($medlarge)
    font-family: GothamRoundBook, $georgia
  &:hover
    border-bottom: 1px solid $red
