.paginate_space
  +span-columns(12)
  height: 10.5rem
  //210px

footer a
  text-decoration: none
  color: white
  &:hover
    color: rgba(white, .6)

#footer_bg
  height: 6.5rem
  //130px
  ul
    //56px
    @extend %SansSerif_GothamRoundbook_Helvetica
    text-align: center
    padding:
      bottom: 2.3rem
      left: 2.75rem
      //55px
      top: 3rem
      //50px
    li
      display: inline-block
      font-size: 1.05rem
      font-weight: normal
      //22px
      padding:
        right: 2.5rem
        //50px
      color: white
  h6
    +transition(all 0.1s ease-in-out)
    @extend %SansSerif_GothamRoundbook_Helvetica
    float: right
    margin:
      right: 2.5rem
      //50px
    margin:
      top: -3.5rem
      //-74px
    color: rgba(white, .3)
    a
      color: rgba(white, .3)
      text-decoration: none
      display: block
      font-size: 0.8rem
    &:hover
      span
        color: rgba(white, 1)

#footer h6 a
  font-weight: normal
  +media($xs)
    display: none
  +media($large)
    display: block

#footer
  background: rgba($red, 0.4)
