footer a
  text-decoration: none
  color: white
  &:hover
    color: rgba(white, .6)

#footer
  height: 210px

#footer
  //height: 5.5rem
  +media($xs)
    background: rgba($red, 0.5)
  +media($large)
    background: rgba($red, 0.3)
    
#footer_bg
  //height: 5.5rem
  height: 210px

#footer_bg
  ul
    font-family: $helvetica
    text-align: center
    padding:
      bottom: 0.8rem
      left: 2.5rem
      top: 2.3rem
    li
      display: inline-block
      font:
        weight: normal
      padding:
        right: 2.5rem
      color: white
    +media($large)
      padding-top: 2.5rem
  h6
    +transition(all 0.1s ease-in-out)
    float: right
    margin:
      right: 2.5rem
    color: rgba(white, .3)
    a
      color: rgba(white, .3)
      text-decoration: none
      display: block
      font-size: 0.8rem
    &:hover
      span
        color: rgba(white, 1)

#footer h6 a
  font-weight: normal
  margin-top: -2.028rem
  +media($xs)
    display: none
  +media($large)
    display: block

#footer_bg ul
  font-size: 1.3rem
  +media($large)
    font-family: GothamRoundBook
    font-size: 1rem

.subscription_wrapper
  display: -moz-box        
  display: -ms-flexbox     
  display: -webkit-flex    
  display: flex
  width: 100%
  margin-top: 15px

.flexbox
  //order: 1

.box01
  //order: 1
  flex-grow: 1

.box02
  //order: 1
  flex-grow: 1

.box03
  //order: 1
  flex-grow: 1

#mc-embedded-subscribe
  +button(pill, $dark_grey)
  display: block
  margin: 0 auto
  margin-top: 15px

.mc-field-group
  text-align: center

.mc-field-group input
  border-radius: 20px
  border: none
  text-align: center
  width: 270px
  height: 34px

textarea:focus, input:focus
  +linear-gradient(#D46262, #FFFFFF 5%)
  outline: 0

input:hover
  border: 2px solid rgba($red, 0.7)

::-webkit-input-placeholder 
  color: rgba($red, 0.55)

::-moz-placeholder
  color: rgba($red, 0.55)

::-moz-placeholder
  color: rgba($red, 0.55)

::-ms-input-placeholder   
  color: rgba($red, 0.55)

input:focus::-webkit-input-placeholder
  opacity: 0

input:focus:-moz-placeholder 
  opacity: 0

input:focus::-moz-placeholder
  opacity: 0
