.white_line
  height: 2px

header
  height: 10rem
  //200px
  background: rgba($red, .84)
  +media($xs)
    height: 6.5rem
  +media($med)
    height: 7rem
  +media($large)
    height: 10rem

#main_header
  font:
    family: GothamNarrowXLight, $helvetica
    //-8px
  +media($xxs)
    font-size: 2rem
  +media($xs) 
    font-size: 2.35rem
    margin:
      top: 2rem
  +media($small)
    font-size: 3.3rem
  +media($med)
    font-size: 4rem 
  +media($large) 
    font-size: 3.5rem
    //70px
    margin:
      top: 4.25rem
    //85px

header, #knowledge_bomb_section
  border-radius: 2px

#main_header a
  cursor: default
  text-decoration: none

#main_subheader
  @extend %SansSerif_GothamRoundbook_Helvetica
  color: $main_subheader_color
  +media($xxs)
    font-size: 1rem
  +media($xs)
    padding-left: 1.58rem
    margin-top: 1.1rem
    font-size: 1.2rem
    display: none
  +media($small)
    font-size: 1.65rem
    padding-left: 2rem
  +media($med)
    font-size: 2rem
    padding-left: 2.2rem
    margin-top: 1.6rem
  +media($large)
    padding-left: 2.5rem
    margin-top: 2.15rem
    font-size: 1.5rem

#knowledge_bomb_section
  background: rgba($red, .80)
  height: 16.2rem
  display: none
  //324px
  +media($xxs)
    display: none
  +media($xs)
    display: none
    height: 10rem
  +media($med)
    display: none
    height: 12rem
  +media($large)
    height: 16.2rem
    display: block

.bomb_icon
  opacity: 1
  margin:
    top: 0.5rem
    //2px
  padding:
    top: 0.2rem
    //4px
    left: 5.5rem
    //110px
  +media($xs)
    +span-columns(2)
    padding-left: 0.6rem
    height: 87%
  +media($med)
    padding-left: 0.9rem
  +media($large)
    padding-left: 1.1rem

#knowledge_bomb_section

