.white_line
  height: 2px

header
  height: 10rem
  //200px
  background: rgba($red, .84)

#main_header
  font:
    family: GothamNarrowXLight, $helvetica
    size: 3.5rem
    //70px
  margin:
    top: 4.25rem
    //85px
    left: -0.35rem
    //-7px

header, #knowledge_bomb_section
  border-radius: 2px

#main_header a
  cursor: default
  text-decoration: none

#main_subheader
  @extend %SansSerif_GothamRoundbook_Helvetica
  color: $main_subheader_color
  margin-top: 2.25rem
  //45px
  padding-left: 2.05rem
  //41px
  font-size: 1.5rem
  //30px

#knowledge_bomb_section
  background: rgba($red, .80)
  height: 16.2rem
  //324px

.bomb_icon
  +transform(rotate(75.6deg))
  opacity: .97
  display: block
  height: 55%
  margin:
    top: 0.1rem
    //2px
    left: auto
    right: auto
  padding:
    top: 0.2rem
    //4px
    left: 5.5rem
    //110px
