#main_header, #main_subheader
  text-align: center
  font-weight: normal
  
#main_header, #main_header a
  color: white

.white_line
  height: 2px

header
  height: 5.5rem
  //200px
  +media($xs)
    background: rgba($red, .6)
  +media($large)
    background: rgba($red, .3)
    //height: 10rem
    height: 6.5rem

#main_header
  font:
    family: GothamNarrowXLight, $helvetica
  padding-top: 3.5rem
  +media($xxs)
    font-size: 1.5rem
    background: blue
  +media($xs) 
    background: green
    font-size: 2rem 
    padding-top: 2rem
  +media($small)
    background: yellow
    font-size: 3rem 
    padding-top: 2rem
  +media($med)
  +media($large) 
    font-size: 2.5rem
    padding-top: 1.6rem
    //70px
    //margin-top: 4.25rem
    //85px

header, #knowledge_bomb_section
  border-radius: 2px

#main_header a
  cursor: default
  text-decoration: none

#main_subheader
  @extend %SansSerif_GothamRoundbook_Helvetica
  color: $dark_grey
  padding-top: 2.6rem
  padding-left: 2.45rem
  display: none
  +media($large)
    display: block
    font-size: 1.25rem
    padding-left: 1.8rem
    padding-top: 1.7rem
    

#knowledge_bomb_section
  background: rgba($red, .3)
  height: 16.2rem
  //324px
  height: 10.5rem
  //height: 300px
  display: none
  margin-top: 1px
  +media($large)
    display: block

.bomb_icon
  +span-columns(12)
  height: 97%
  padding-left: 0.8rem
  padding-top: 0.2rem
