.not_
  +outer-container
  background: rgba(white, 1)

.not_ h6
  color: $dark_grey
  text-align: center
  padding-top: 3rem
  margin-bottom: 3rem
  font:
    family: GothamNarrowXLight
    size: 3rem
    weight: normal
  +media(min-width 520px)
    padding-top: 7rem
    margin-bottom: 7rem
    font-size: 6rem
  +media(min-width 690px)
    font-size: 8rem

.not_img
  +media(max-width 970px)
    +span-columns(10)
    +shift(1)
    margin-bottom: 7rem
  +media(min-width 971px)
    +span-columns(9)
    +shift(1.5)
    margin-bottom: 10rem
