.pagination a, .next_page, .previous_page, .current
  @extend %SansSerif_GothamRoundbook_Helvetica
  text-rendering: optimizeLegibility

.previous_page, .current, .next_page 
  color: $dark_grey

.pagination, .pagination_space
  +span-columns(12)
  background: white
  height: 10.5rem
  //210px

.pagination
  text-align: center
  padding-top: 3.25rem
  a
    display: inline-block
    color: $red
    text-decoration: none 
    padding:
      left: 0.75rem
      right: 0.75rem
    &:hover
      border-bottom: 1px solid $red
  .current
    padding: 0rem 1rem 0rem 1rem

.previous_page

.next_page
