.pagination a, .next_page, .previous_page, .current
  @extend %SansSerif_GothamRoundbook_Helvetica
  text-rendering: optimizeLegibility

.pagination a, .current, 
  font-size: 1rem
  color: $dark_grey

a.previous_page, a.next_page 
  font-size: 1.2rem

.pagination, .pagination_space
  +span-columns(12)
  background: white
  height: 14.7rem
  //210px

.pagination
  text-align: center
  a
    display: inline-block
    color: $red
    text-decoration: none 
    padding:
      left: 0.75rem
      right: 0.75rem
      top: 5.64rem
    &:hover
      border-bottom: 1px solid $red
  .current
    padding: 0rem 1rem 0rem 1rem

.pagination .current                                                                                                                
  font-weight: 800                                                                                                                  
  font-size: 23px                                                                                                                   
  font-style: normal                                                                                                                
                                                                                                                                    
.previous_page.disabled, .next_page.disabled                                                                                        
  display: none 

.small_pagination_space
  height: 8.8rem
