#shownote_container
  +span-columns(12)
  background: $white_background

.show_notes_display, .show_notes_headline, #shownote_container  #shownote_container 
  +media($xs)
    +span-columns(1.9)
  +media($large)
    +span-columns(8)
    +shift(2)

.show_notes_display, .show_notes_headline
  +shift(2)
  +media($xs)
    +shift(0.3)

.show_notes_display
  white-space: pre-wrap
  @extend %Serif_Text_Type_Georgia
  font-size: 1.35rem
  //27px
  line-height: 2.025rem
  //1.5em
  font-weight: normal
  color: tint($dark_grey, 5%)
  margin-top: 1.2rem
  //45px

.show_notes_display a
  color: $red
  font-size: 1.2rem
  //24px
  text-decoration: none
  &:hover
    border-bottom: 1px solid $red
  
.show_notes_headline
  font-family: GothamNarrowBook, $helvetica
  color: $red
  font-size: 1.45rem
  //40px
  margin-top: 0.5rem
  //50px
  margin-bottom: 0.5rem
