#shownote_container
  +span-columns(12)
  background: $white_background

.show_notes_headline
  +span-columns(5)

.show_notes_display,.show_notes_headline, #shownote_container  #shownote_container 
  +media($xs)
    +shift(0.7)
    //background: red
  +media($med)
    //background: tomato
    +shift(0.115)
  +media($medlarge)
    //background: yellow
    +shift(0.5)
  +media($large)
    //background: green
    +shift(0.65)
  +media($xlarge)
    //background: blue
    +shift(2.5)

.show_notes_display, #shownote_container  #shownote_container 
  +media($xs)
  +media($med) 
    +span-columns(2.77)
  +media($medlarge)
    +span-columns(2.77)
  +media($large)
    +span-columns(8)
  +media($xlarge)
    +span-columns(7)

.show_notes_display
  +media($xs)
    +span-columns(1.8)
  +media($med) 
    +span-columns(3.5)
  +media($medlarge)
    +span-columns(3)
  +media($large)
    +span-columns(8)
  +media($xlarge)
    +span-columns(7)

.show_notes_display, .show_notes_display a
  //background: green
  @extend %Serif_Text_Type_Georgia
  font-size: 1.2rem
  line-height: 1.8rem
  +media($med)
    font-size: 1.5rem
    line-height: 1.9rem
  +media($medlarge)
    font-size: 1.55rem
    line-height: 2rem
  +media($large)
    font-size: 1.15rem
    line-height: 2.025rem

.show_notes_display
  white-space: pre-wrap
  //27px
  //1.5em
  font-weight: normal
  color: tint($dark_grey, 5%)
  margin-top: 1.2rem
  margin-bottom: 8rem
  //45px

.show_notes_display a
  color: $red
  //24px
  text-decoration: none
  &:hover
    border-bottom: 1px solid $red
  
.show_notes_headline
  font-family: GothamNarrowBook, $helvetica
  color: $red
  //background: blue
  font-weight: normal
  font-size: 1.25rem
  //40px
  margin-top: 0.5rem
  //50px
  margin-bottom: 0.5rem
  +media($medlarge)
    font-size: 1.75rem
  +media($med)
    font-size: 1.77rem
  +media($large)
    font-size: 1.35rem
