@import 'bourbon/bourbon'
@import 'neat/neat'

// Reset

*
  padding: 0
  margin: 0

// Navigation

header
  height: 200px
  background-color: #D21A2E

nav ul
  +clearfix

nav li
  +inline-block
  float: right
  margin-left: 2px
  padding: 0px 15px 2px 15px
  background-color: #E24A5E
  color: white

// Boxes / Layout

body
  font-family: arial, helvetica, sans-serif
  line-height: 24px

#content
  margin: 24px 0px 0px 48px

// Content

p
  font-size: 15px
  margin-bottom: 24px

a
  color: #39c
  text-decoration: none
  padding-bottom: 2px
  border-width: 0px 0px 1px 0px
  border-style: solid
  border-color: #39c

a:hover
  color: #c95
  border-width: 0px 0px 3px 0px
  border-color: #c95

// Headings

#main_header
  text-align: center
  margin-top: 50px
  font-size: 50px
  font-weight: normal
  color: white

#main_subheader
  text-align: center
  margin-top: 50px
  font-weight: normal
  color: #1F1F1F
