@import 'bourbon/bourbon'
@import 'neat/neat'

$red: #D21A2E
$nav_bg_color: #E24A5E
$dark_grey: #1F1F1F

// Reset

*
  padding: 0
  margin: 0

body
  +outer-container

.black_line
  +span-columns(12)
  background-color: $dark_grey
  height: 2px

// Navigation

header
  height: 200px
  background-color: $red 
  +span-columns(12)

nav ul
  +clearfix

nav li
  +inline-block
  +transition(all 0.3s ease-in-out)
  float: right
  margin: 2px 0px 0px 2px
  padding: 3px 15px 3px 15px
  background-color: $nav_bg_color 
  color: white
  &:hover
    background-color: #212121

nav a
  text-decoration: none
  color: white
  font-size: 30px
// Boxes / Layout

body
  font-family: arial, helvetica, sans-serif
  line-height: 24px

#content
  margin: 24px 0px 0px 48px

// Content

p
  font-size: 15px
  margin-bottom: 24px


// Headings

#main_header
  text-align: center
  margin-top: 50px
  font-size: 50px
  font-weight: normal
  color: white

#main_subheader
  text-align: center
  margin-top: 50px
  font-weight: normal
  color: $dark_grey

.knowledge_bomb_section
  +span-columns(12)
  height: 300px 
  background-color: $red
  margin-top: 2px
