@import 'bourbon/bourbon'
@import 'neat/neat'

$red: #D21A2E
$nav_bg_color: #E24A5E
$dark_grey: #1F1F1F

// Reset

*
  padding: 0
  margin: 0

body
  +outer-container

.white_line
  +span-columns(12)
  background-color: white
  height: 2px

// Navigation

header
  +span-columns(12)
  height: 220px
  background-color: $red 
  border-radius: 2px

nav ul
  +clearfix

nav li
  +inline-block
  +transition(all 0.1s ease-in-out)
  float: right
  margin: 0px 0px 0px 3px
  padding: 5px 20px 5px 20px
  background-color: $nav_bg_color 
  color: white
  &:hover
    background-color: shade(white, 2%)
    color: $red

nav a
  text-decoration: none
  color: white
  font-size: 30px
  &:hover
    color: $red


// Boxes / Layout

body
  font-family: arial, helvetica, sans-serif
  line-height: 24px

#content
  margin: 24px 0px 0px 48px

// Content

p
  font-size: 15px
  margin-bottom: 24px


// Headings

#main_header
  text-align: center
  margin-top: 70px
  font-size: 70px
  font-weight: normal
  color: white

#main_subheader
  text-align: center
  margin-top: 50px
  font-weight: normal
  color: $dark_grey

.knowledge_bomb_section
  +span-columns(12)
  border-radius: 2px
  height: 300px 
  background-color: $red
  margin-top: 2px
