title between_screens #{@title}
meta charset='utf-8'

link rel='stylesheet' href='/application.css' type='text/css'
link rel="icon" type="image/png" href="/public/images/betweenfavicon.png"

script src="http://d3js.org/d3.v3.min.js" charset="utf-8"
script src="/triangles.min.js" type="text/javascript"   
script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
script src="/google_analytics.js" type="text/javascript"   
