title between_screens #{@title}
meta charset='utf-8'

link rel='stylesheet' href='/application.css' type='text/css'
link rel="icon" type="image/png" href="/images/betweenfavicon.png"

script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
script src="/google_analytics.js" type="text/javascript"   
