-if admin?
  #button_container
    a#edit_button href="/episodes/#{ @episode.id }/edit" Edit episode
    form#delete_button  method="POST" action=="/episodes/#{ @episode.id }"
      input type="hidden" name="_method" value="DELETE"
      input type="submit" value="Delete episode"

#shownote_container 
  h2.episode_title #{ @episode.title }
  h3.episode_sub_title <span> #{ @episode.interviewee_name } </span> | #{ @episode.length }  Mintues | #{ @episode.released_on } | Episode ##{ @episode.id }  
  iframe [ width="100%" 
  height="450" 
  scrolling="no" 
  frameborder="no" 
  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/#{ @episode.soundcloud_id }&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false&amp;visual=true"]

  h4.show_notes_headline Show Notes: 

  p.show_notes_display #{{ @episode.show_notes }}













//	
//h2.episode_title Some title
//h3.episode_sub_title Some subtitle
//.iframe_transparent_container
//  iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/160787266&amp;color=f91416&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false"
//
//.iframe_container
//  h2.episode_title Some title
//  h3.episode_sub_title Some subtitle
//  iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/160787266&amp;color=f91416&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false"
//	
//h2.episode_title Some title
//h3.episode_sub_title Some subtitle
//.iframe_transparent_container
//  iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/160787266&amp;color=f91416&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false"
//
//.iframe_container
//  h2.episode_title Some title
//  h3.episode_sub_title Some subtitle
//  iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/160787266&amp;color=f91416&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false"
//	
//h2.episode_title Some title
//h3.episode_sub_title Some subtitle
//.iframe_transparent_container
//  iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/160787266&amp;color=f91416&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false"
//
//.iframe_container
//  h2.episode_title Some title
//  h3.episode_sub_title Some subtitle
//  iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/160787266&amp;color=f91416&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false"
//	
//h2.episode_title Some title
//h3.episode_sub_title Some subtitle
//.iframe_transparent_container
//  iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/160787266&amp;color=f91416&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false"
//
